# Python 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
.venv/
venv/

# 환경 변수 파일
.env
*.env
.env.local

# Jupyter
.ipynb_checkpoints/

# 에디터 설정
.vscode/
*.code-workspace

# pyenv / 버전 파일
.python-version

# OS
Thumbs.db
.DS_Store
